{% extends 'base.html' %}
{% block head %}
    <style>
        body, html {
            background-image: url("https://cdn-gcp.marutitech.com/wp-media/2019/10/e5c01967-chatbot-powered-by-artificial-intelligence.jpg");
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
}
.movies{
    color: white;
    text-align: center;
    text-space: 2px;
}
    </style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="/">Recommendation engine</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Home</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Services</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">About</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Contact us</a>
    </div>
  </div>
<div class="form-inline my-2 my-lg-0">
         <a class="btn btn-warning" href="{{ url_for('logout') }}" role="button">Log out</a>
      </div>
</nav>
<form action="{{ url_for('recommend') }}" method="post">
  <div class="form-group">
    <label style="font-size: 23px; color: white" for="exampleInputEmail1">Movie Title </label>
    <input type="text" name="movie_user_likes" required class="form-control" placeholder="Title">
  </div>
  <button type="submit" name="recommend" class="btn btn-primary">Submit</button>
</form>
<div class="movies">
{% for movie in movies %}
{{ movie }}
{% endfor %}
</div>

{% endblock %}