{% extends 'base.html' %}
{% block head %}
    <style>
        body, html {
            background-image: url("https://cdn-gcp.marutitech.com/wp-media/2019/10/e5c01967-chatbot-powered-by-artificial-intelligence.jpg");
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
}
        .container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -10px 0 0 380px; /* margin is -0.5 * dimension */
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    width: 50%;
}
    </style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="/main">Home</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Services</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">About</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Contact us</a>
    </div>
  </div>
<div class="form-inline my-2 my-lg-0">
         <a class="btn btn-warning" href="{{ url_for('logout') }}" role="button">Log out</a>
      </div>
</nav>
    <div class="container">
    <a style="margin-right: 16px; padding: 15px; font-size: 14px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace" class="btn btn-success" href="{{ url_for('content') }}" role="button">Content Based filtering</a>
    </div>
{% endblock %}