{% extends 'base.html' %}
{% block head %}
    <style>
        body, html {
            background-image: url("https://cdn-gcp.marutitech.com/wp-media/2019/10/e5c01967-chatbot-powered-by-artificial-intelligence.jpg");
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
}
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
            margin-top: 140px;
  width: 50%;
}
    </style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="/">Recommendation engine</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Home</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Services</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">About</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Contact us</a>
    </div>
  </div>
<div class="form-inline my-2 my-lg-0">
         <a class="btn btn-warning" href="{{ url_for('logout') }}" role="button">Log out</a>
      </div>
</nav>
    <img class="center" style="width: 50%"; height="50%" src="https://serving.photos.photobox.com/00028235148ebcbe039679bf8cb553c055e2c0ca3e4c1feb5f4eb967e81e8cd7877cada6.jpg" alt="">
{% endblock %}