{% extends 'base.html' %}
{% block head %}
    <style>
        body, html {
            background-image: url("https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
  margin: 0;
}
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
            margin-top: 140px;
  width: 50%;
}
    </style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="/">Recommendation engine</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Home</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Services</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">About</a>
      <a style="font-size: 16px; color: white;"  class="navbar-brand" href="#">Contact us</a>
    </div>
  </div>
</nav>
    <div>
    <h1 style="color: white; text-align: center; margin-top: 3px">Sign up</h1>
    <p style="color: white; font-size: 19px; text-align: center; display: block">please fill in this form to create an account !</p>
    <hr style="background-color: gray">
    </div>
    <div style="height: 540px;" class="loginbox">
 {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
    <img style="margin-top: 12px"  src="https://thumbs.dreamstime.com/b/login-icon-button-vector-illustration-isolated-white-background-127000574.jpg" class="image">
    <form action="{{ url_for('register') }}" method="post">
        <label>Username : <br>
            <input style="margin-top: 0;" type="text" name="username" placeholder="Username" required>
        </label>
        <label>Email : <br>
            <input type="email" name="email" placeholder="Email" required>
        </label>
        <label>Password : <br>
            <input type="password" name="password" placeholder="Password" required>
        </label>
        <label>Confirm Password : <br>
            <input type="password" name="confirm_password" placeholder="Password" required>
        </label><br>
        <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
    </form><br>
    	<div class="text-center">You have already an account? <a href="{{ url_for('login') }}">Sign here!</a></div>
    </div>

{% endblock %}